# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nekon\develop\courses\kafka-as-a-datahub-2021\kafka-as-a-datahub-solutions\kafka-stream\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
